/*
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
*/
.container {
    display: grid;
    grid-template-columns: 20% 20% 50%;
    grid-template-rows: 10% auto;
    grid-gap: 1vh;
    margin: 1vh;
    height: 100%;
}

.list {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    overflow-y: scroll;
}

.listitem {
    display: grid;
    grid-template-columns: 18% 27% 27% 27%;
    grid-template-rows: auto auto;
    align-items: center;
}

.inputfile {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
}

.mat-icon {
    height: 100%;
    width: 100%;
}

.mat-button {
    display: table-cell;
    padding: 0;
    margin: 0;
    width: 10vh;
    height: 10vh;
    min-width: 0;
    line-height: normal;
}

.mat-button span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label {
    width: 100%;
    font-size: 4vh;
}
