<!--
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
-->
<input #fileInput type="file" name="file" id="file" class="inputfile" (change)="loadPoints($event);"/>
<div class="container">
    <button mat-button><label for="file" (click)="inputClick()"><mat-icon svgIcon="button_load_points"></mat-icon></label></button>
    <button mat-button (click)="deletePoints($event);"><mat-icon svgIcon="button_del_points"></mat-icon></button>
    <div class="list">
        <div class="listitem mat-caption" *ngFor="let point of points$ | async | dictValues">
            <button mat-button (click)="pointSelected(point)" style="grid-row: span 2"><mat-icon svgIcon="button_left"></mat-icon></button>
            <div style="grid-column: span 3">{{point.name}}</div>
            <div>{{"x: "}}{{formatValue(point.x)}}</div>
            <div>{{"y: "}}{{formatValue(point.y)}}</div>
            <div>{{"z: "}}{{formatValue(point.z)}}</div>
        </div>
    </div>
</div>
