<!--
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
-->
<div class="container">
    
    <mat-form-field>
        <mat-select [value]="getP1()" (selectionChange)="p1Select($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let point of points | dictValues" [value]="point">{{getPointOption(point)}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-select [value]="getP2()" (selectionChange)="p2Select($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let point of points | dictValues" [value]="point">{{getPointOption(point)}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-radio-group style="grid-column: span 2;" [value]="getFinishMode()">
        <mat-radio-button value="roughing" (change)="radioSelect($event)">Roughing</mat-radio-button>
        <mat-radio-button value="finishing" (change)="radioSelect($event)">Finishing</mat-radio-button>
    </mat-radio-group>

    <div class="svg_container">
        <div id="svg1">
            <svg viewBox="0 0 100 100">
                <g id="contour">
                    <path class="svg_path" style="stroke-width:1px" d="m70 65-5 5m-30-5-5 5m40-40-5 5m-30-5-5 5"/>
                    <path [attr.class]="getContourTopClass()" id="contour_border_top" style="stroke-width:1px" d="m65 30-5 5m0-5-5 5m0-5-5 5m0-5-5 5m0-5-5 5m0-5-5 5m-5-5h40"/>
                    <path [attr.class]="getContourBottomClass()" id="contour_border_bottom" style="stroke-width:1px" d="m40 65-5 5m10-5-5 5m10-5-5 5m10-5-5 5m10-5-5 5m10-5-5 5m-30 0h40"/>
                    <path [attr.class]="getContourRightClass()" id="contour_border_right" style="stroke-width:1px" d="m65 55 5-5m0-5-5 5m0 10 5-5m0-15-5 5m0 20 5-5m0-25-5 5m5-10v40"/>
                    <path [attr.class]="getContourLeftClass()" id="contour_border_left" style="stroke-width:1px" d="m30 65 5-5m-5 0 5-5m-5 0 5-5m-5 0 5-5m0-5-5 5m5-10-5 5m0-10v40"/>
                    <path style="stroke-dasharray:1, 1;stroke-width:.5;fill:none" d="m75 25h-50v50h50z" class="svg_path"/>
                    <path [attr.transform]="getContourDrillTransform()" id="drill" class="svg_path" style="stroke-width:.5;fill:none" d="m15 75h20m-10-10v20m5-10a5 5 0 0 1 -5 5 5 5 0 0 1 -5 -5 5 5 0 0 1 5 -5 5 5 0 0 1 5 5z"/>
                    <text id="dist_bottom" style="letter-spacing:0px;font-size:7.5px;word-spacing:0px;font-family:sans-serif;line-height:125%" xml:space="preserve" class="svg_text" y="83.893799" x="50.615967">{{getDistLabel(getContourDistBottom())}}</text>
                    <text id="dist_top" style="font-size:7.5px;letter-spacing:0px;text-anchor:end;word-spacing:0px;text-align:end;font-family:sans-serif;line-height:125%" xml:space="preserve" class="svg_text" y="21.566406" x="50.615967">{{getDistLabel(getContourDistTop())}}</text>
                    <text id="dist_left" style="font-size:7.5px;letter-spacing:0px;text-anchor:end;word-spacing:0px;text-align:end;font-family:sans-serif;line-height:125%" xml:space="preserve" class="svg_text" y="48.893799" x="22.391357">{{getDistLabel(getContourDistLeft())}}</text>
                    <text id="dist_right" style="font-size:7.5px;letter-spacing:0px;text-anchor:end;word-spacing:0px;text-align:end;font-family:sans-serif;line-height:125%" xml:space="preserve" class="svg_text" y="56.566406" x="77.615967">{{getDistLabel(getContourDistRight())}}</text>
                    <path class="svg_path" style="stroke-width:.5;fill:none" d="m49 33 1-3 1 3zm1-3v-15m0 55-1-3h2zm0 15v-15m-20-20 3-1v2zm-15 0h15m40 0-3-1v2zm15 0h-15"/>
                </g>
            </svg>
        </div>
        <div id="svg2">
            <svg viewBox="0 0 30 100">
                <g id="contour">
                    <text id="dist_z" style="letter-spacing:0px;font-size:7.5px;word-spacing:0px;font-family:sans-serif;line-height:125%" xml:space="preserve" transform="rotate(90)" class="svg_text" y="-19.433594" x="4.6159668">{{getDistLabel(getContourDistZ())}}</text>
                    <path [attr.transform]="getContourDrillTransformZ()" id="drill" class="svg_path" style="stroke-linecap:round;stroke-width:1px;fill:none" d="m15 30h10m-10 0c0 5 1 6 1 6m2-6s-2 5-2 15m9 5c0-5-1-6-1-6m-2 6s2-5 2-15m1-5c0 10-10 10-10 20h10"/>
                    <path style="stroke-width:1px" d="m10 50v25m-10-20 5-5m-5 0h10m0 5-10 10m10 0-10.177 10.177" class="svg_path"/>
                    <path [attr.class]="getContourBottomZClass()" id="contour_border_bottom_z" style="stroke-width:1px" d="m10 75h20m-5 25 5-5m0-10-5 5l-10 10m-5-25-10.177 10.177m30.177-10.177-25 25m15-25-20 20" class="svg_path"/>
                    <path style="stroke-width:.5;fill:none" d="m27 75v-70m0 70-1 3h2z" class="svg_path"/>
                </g>
            </svg>
        </div>
    </div>
    
</div>
