<!--
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
-->
<div class="container">
  <div class="digit background">8888.888</div>
  <div class="digit">{{getAxisValue()}}</div>
  <button class="mag" mat-button disabled><span class="label" [style.background-color]="getMagLabelColor()">Mag</span><mat-icon svgIcon="button_empty"></mat-icon></button>
  <button class="unit" mat-button (click)="unitSelection()">
      <div class="label_container">
          <div [class.selected]="isUnitSelected('mm')">mm</div>
          <div [class.selected]="isUnitSelected('inch')">inch</div>
      </div>
      <mat-icon svgIcon="button_split"></mat-icon>
    </button>
  <button class="abs" mat-button (click)="referenceSelection()">
      <div class="label_container">
          <div [class.selected]="isReferenceSelected('abs')">abs</div>
          <div [class.selected]="isReferenceSelected('inc')">{{getReferenceLabel()}}</div>
      </div>
      <mat-icon svgIcon="button_split"></mat-icon>
    </button>
  <button class="zero" mat-button (click)="zeroSelection()"><span class="label">zero</span><mat-icon svgIcon="button_empty"></mat-icon></button>
  <button class="axis" mat-button (click)="axisSelection()"><span class="label">{{axis.metadata.label}}</span><mat-icon svgIcon="button_empty"></mat-icon></button>
</div>
