/*
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
*/
.container {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 45% 45%;
    grid-gap: 1vh;
    align-content: space-around;
    align-items: center;
    justify-items: end;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.digit {
    font-family: digit;
    font-size: 11vh;
    text-align: right;
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
}

.mag {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    font-size: 4vh;
}

.unit {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-size: 3vh;
}

.abs {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    font-size: 3vh;
}

.zero {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    font-size: 4vh;
}

.axis {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
    font-size: 4vh;
}

.label_container {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 10vh;
    justify-content: center;
    align-content: center;
    position: absolute;
}

.label_container div {
    margin: auto;
}

.mat-icon {
    height: 100%;
    width: 100%;
}

.mat-button {
    padding: 0;
    margin: 0;
    width: 10vh;
    height: 10vh;
    min-width: 0;
    line-height: normal;
}

.mat-button span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label {
    width: 10vh;
    z-index: -1;
}
