@mixin axis-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .label {
        color: mat-color($foreground, text);
    }

    .selected {
        color: mat-color($warn);
        border: 1px solid mat-color($warn);
    }
}
