<!--
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
-->
<mat-card class="container">
    <h1 class="mat-h1">Invert Axes</h1>
    <mat-slide-toggle class="label" labelPosition="before" *ngFor="let axis of (axes$ | async) | dictValues" [checked]="axis.configuration.invert === true" (change)="invertAxisSelection({axis: axis})">Invert {{axis.metadata.label}}</mat-slide-toggle>
</mat-card>
