<!--
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
-->
<mat-card class="container">
    <h1 class="mat-h1">Turning</h1>
    <div class="axes-container" *ngFor="let axis of (axes$ | async) | dictValues">
        <h2>{{axis.metadata.label}} Axis: </h2>
        <div><mat-slide-toggle labelPosition="before">Value x2</mat-slide-toggle></div>
        <mat-form-field class="axis_selection" >
            <mat-select placeholder="Add Axis" (selectionChange)="axisSelect($event)">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let axis2 of (axes$ | async) | dictValues" [value]="axis2">{{axis2.metadata.label}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-card>
