<!--
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
-->
<mat-card class="container">
  <h1 class="mat-h1">DRO Settings</h1>
  <mat-radio-group [ngModel]="(configuration$ | async).mode">
    <mat-radio-button value="milling" (change)="modeSelect($event)">Milling</mat-radio-button>
    <mat-radio-button value="turning" (change)="modeSelect($event)">Turning</mat-radio-button>
  </mat-radio-group>
</mat-card>
