<!--
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
-->
<div class="container">

    <mat-form-field>
        <mat-select [value]="getP1()" (selectionChange)="p1Select($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let point of points | dictValues" [value]="point">{{getPointOption(point)}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select [value]="getP2()" (selectionChange)="p2Select($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let point of points | dictValues" [value]="point">{{getPointOption(point)}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-radio-group style="grid-column: span 2;" [value]="getFinishMode()">
        <mat-radio-button value="roughing" (change)="radioSelect($event)">Roughing</mat-radio-button>
        <mat-radio-button value="finishing" (change)="radioSelect($event)">Finishing</mat-radio-button>
    </mat-radio-group>

    <div class="svg_container">
        <div id="svg1">
            <svg viewBox="0 0 100 100">
                <g id="pocket">
                    <path [attr.class]="getPocketTopClass()" id="pocket_border_top" d="m20.354 0-10 10m-0.354 0h80m0-10-10 10m0-10-10 10m0-10-10 10m0-10-10 10m0-10-10 10m0-10-10 10m0-10-10 10" />
                    <path [attr.class]="getPocketBottomClass()" id="pocket_border_bottom" d="m20 90-10 10m80-10h-80m80 0-10 10m0-10-10 10m0-10-10 10m0-10-10 10m0-10-10 10m0-10-10 10m0-10-10 10" class="svg_path"/>
                    <path [attr.class]="getPocketRightClass()" id="pocket_border_right" d="m100 10-10 10m0-10v80m10-70-10 10m10 0-10 10m10 0-10 10m10 0l-10 10m10 0-10 10m10 0-10 10m10 0-10 10" class="svg_path"/>
                    <path [attr.class]="getPocketLeftClass()" id="pocket_border_left" d="m10.354 10-10 10m9.646-10v80m-10 0 10-10m-10 0 10-10m-10 0 10-10m-10 0 10-10m-10 0 10-10m-10 0 10-10m0-10-10 10" class="svg_path"/>
                    <path class="svg_path" style="stroke-width:1px" d="m10 89.646-10 10m100-99.646-10 10m-79.646-10-10 10m99.646 80-10 10"/>
                    <path class="svg_path" style="stroke-dasharray:1, 1;stroke-width:.5;fill:none" d="m85 15h-70v70h70z"/>
                    <path [attr.transform]="getPocketDrillTransform()" id="drill" class="svg_path" style="stroke-width:.5;fill:none" d="m5 85h20m-10-10v20m5-10a5 5 0 0 1 -5 5 5 5 0 0 1 -5 -5 5 5 0 0 1 5 -5 5 5 0 0 1 5 5z"/>
                    <text id="dist_bottom" style="letter-spacing:0px;font-size:7.5px;word-spacing:0px;font-family:sans-serif;line-height:125%" xml:space="preserve" class="svg_text" y="83.893799" x="50.615967">{{getDistLabel(getPocketDistBottom())}}</text>
                    <text id="dist_top" style="font-size:7.5px;letter-spacing:0px;text-anchor:end;word-spacing:0px;text-align:end;font-family:sans-serif;line-height:125%" xml:space="preserve" class="svg_text" y="21.566406" x="50.615967">{{getDistLabel(getPocketDistTop())}}</text>
                    <text id="dist_left" style="font-size:7.5px;letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:left;font-family:sans-serif;line-height:125%" xml:space="preserve" class="svg_text" y="48.893799" x="17.615967">{{getDistLabel(getPocketDistLeft())}}</text>
                    <text id="dist_right" style="font-size:7.5px;letter-spacing:0px;text-anchor:end;word-spacing:0px;text-align:end;font-family:sans-serif;line-height:125%" xml:space="preserve" class="svg_text" y="56.566406" x="82.391357">{{getDistLabel(getPocketDistRight())}}</text>
                    <path class="svg_path" style="stroke-width:.5;fill:none" d="m90 50h-12m12 0 3-1v2zm-80 0h12m-12 0-3-1v2zm40 40v-12m0 12-1 3h2zm0-68v-12m-1-3 1 3 1-3z"/>
                </g>
            </svg>
        </div>

        <div id="svg2">
            <svg viewBox="0 0 30 100">
                <g id="pocket">
                    <text id="dist_z" style="letter-spacing:0px;font-size:7.5px;word-spacing:0px;font-family:sans-serif;line-height:125%" xml:space="preserve" transform="rotate(90)" class="svg_text" y="-24.106201" x="4.6159668">{{getDistLabel(getPocketDistZ())}}</text>
                    <path [attr.transform]="getPocketDrillTransformZ()" id="drill" class="svg_path" style="stroke-linecap:round;stroke-width:1px;fill:none" d="m10 29.493h10m-10 0c0 5 1 6 1 6m2-6s-2 5-2 15m9 5c0-5-1-6-1-6m-2 6s2-5 2-15m1-5c0 10-10 10-10 20h10"/>
                    <path class="svg_path" style="stroke-width:1px" d="m25 50v25m-20-25v25m-5-20 5-5m20 0h5m-30 0h5m25 5-5 5m5 5-5 5m-20-10-5 5m5 5-5.1768 5.1768"/>
                    <path [attr.class]="getPocketBottomZClass()" id="pocket_border_bottom_z" style="stroke-width:1px" d="m5 75h20m0 25 5-5m0-10-5 5l-10 10m-4.823-25.177-10.354 10.354m30.177-10.177-25 25m15-25-20 20"/>
                    <path style="stroke-width:.5;fill:none" d="m23 75v-70m0 70-1 3h2z" class="svg_path"/>
                </g>
            </svg>
        </div>
    </div>
</div>
