.container {
    display: grid;
    grid-template-columns: 20% 20% 50%;
    grid-template-rows: 10% 80%;
    align-content: space-around;
    justify-content: space-around;
}

.list {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    overflow-y: scroll;
}

.listitem {
    display: grid;
    grid-template-columns: 22% 26% 26% 26%;
    align-items: center;
    font-size: 3vh;
}

.inputfile {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
}
