.container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

display {
    display: block;
    grid-column: 1 / span 1;
}

calculator {
    display: block;
    grid-column: 2 / span 1;
}
