<!--
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
-->
<div class="container">
  <div class="digit background calc">888888888</div>
  <div class="digit calc">{{formattedDisplayString((calculator$ | async).displayString)}}</div>
  
  <div class="panel">
      <button mat-button [class.right]="(calculator$ | async).direction==='right'" (click)="directionClick({button: 'dir'})"><mat-icon svgIcon="button_left"></mat-icon></button>
      <button mat-button (click)="functionClick({button: 'sin'})"><mat-icon svgIcon="button_sin"></mat-icon></button>
      <button mat-button (click)="functionClick({button: 'cos'})"><mat-icon svgIcon="button_cos"></mat-icon></button>
      <button mat-button (click)="functionClick({button: 'tan'})"><mat-icon svgIcon="button_tan"></mat-icon></button>
      <button mat-button (click)="functionClick({button: 'sqrt'})"><mat-icon svgIcon="button_sqrt"></mat-icon></button>
      <button mat-button (click)="clearClick({button: 'CE'})"><span class="label">CE</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="clearClick({button: 'C'})"><span class="label">C</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="clearClick({button: 'del'})"><mat-icon svgIcon="button_del"></mat-icon></button>
      <button mat-button (click)="functionClick({button: '/'})"><span class="label">÷</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="storeClick({button: 'MC'})"><span class="label">MC</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="numericClick({button: '7'})"><span class="label">7</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="numericClick({button: '8'})"><span class="label">8</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="numericClick({button: '9'})"><span class="label">9</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="functionClick({button: '*'})"><span class="label">x</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="storeClick({button: 'MR'})"><span class="label">MR</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="numericClick({button: '4'})"><span class="label">4</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="numericClick({button: '5'})"><span class="label">5</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="numericClick({button: '6'})"><span class="label">6</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="functionClick({button: '-'})"><span class="label">-</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="storeClick({button: 'M'})"><span class="label">M+</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="numericClick({button: '1'})"><span class="label">1</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="numericClick({button: '2'})"><span class="label">2</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="numericClick({button: '3'})"><span class="label">3</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="functionClick({button: '+'})"><span class="label">+</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="storeClick({button: 'M-'})"><span class="label">M-</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="negateClick({button: 'neg'})"><span class="label">±</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="numericClick({button: '0'})"><span class="label">0</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="decimalClick({button: '.'})"><span class="label">.</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="evalClick({button: '='})"><span class="label">=</span><mat-icon svgIcon="button_empty"></mat-icon></button>
      <button mat-button (click)="storeClick({button: 'Ms'})"><span class="label">Ms</span><mat-icon svgIcon="button_empty"></mat-icon></button>
  </div>
</div>
