/*
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
*/
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.digit {
  font-family: digit;
  text-align: right;
  font-size: 9vh;
}

.calc {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.panel {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  justify-content: center;
  grid-gap: 1vh;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

[class~=right] {
  transform: scaleX(-1);
}

.c1 {
  grid-column: 1 / span 1;
}

.c2 {
  grid-column: 2 / span 1;
}

.c3 {
  grid-column: 3 / span 1;
}

.c4 {
  grid-column: 4 / span 1;
}

.c5 {
  grid-column: 5 / span 1;
}

.r1 {
  grid-row: 1 / span 1;
}

.r2 {
  grid-row: 2 / span 1;
}

.r3 {
  grid-row: 3 / span 1;
}

.r4 {
  grid-row: 4 / span 1;
}

.r5 {
  grid-row: 5 / span 1;
}

.r6 {
  grid-row: 6 / span 1;
}

.mat-icon {
  height: 100%;
  width: 100%;
}

.mat-button {
  display: table-cell;
  padding: 0;
  margin: 0;
  width: 10vh;
  height: 10vh;
  min-width: 0;
  line-height: normal;
}

.mat-button span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label {
  width: 100%;
  font-size: 4vh;
}
