<!--
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
-->
<div class="container">
  <button mat-button (click)="shutdownClick($event)"><mat-icon svgIcon="button_shutdown"></mat-icon></button>
  <h1 class="mat-h1">Shutdown</h1>
  <button mat-button (click)="rebootClick($event)"><mat-icon svgIcon="button_shutdown"></mat-icon></button>
  <h1 class="mat-h1">Reboot</h1>
</div>
