@import './app/app.component.theme.scss';
@import './app/axis/axis.component.theme.scss';
@import './app/configuration/axes-configuration/axes-configuration.component.theme.scss';
@import './app/configuration/general-configuration/general-configuration.component.theme.scss';
@import './app/milling/pocket/pocket.component.theme.scss';
@import './app/points/points.component.theme.scss';
@import './app/shutdown/shutdown.component.theme.scss';

@mixin custom-components-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    @include app-component-theme($theme);
    @include axis-component-theme($theme);
    @include axes-configuration-component-theme($theme);
    @include general-configuration-component-theme($theme);
    @include pocket-component-theme($theme);
    @include points-component-theme($theme);
    @include shutdown-component-theme($theme);
    
    .digit {
        color: mat-color($accent);
    }

    .background {
        color: mat-color($mat-grey, 900);
    }

    .svg_path {
        stroke-width: 1;
        stroke: mat-color($accent);
    }
    
    .svg_text {
        stroke-width: 0;
        stroke: mat-color($foreground, text);
    }
    
}
