@import '~@angular/material/theming';
@import './dro-theme';

@include mat-core();

$dro-app-primary: mat-palette($mat-purple);
$dro-app-accent:  mat-palette($mat-green, A200, A100, A400);

$dro-app-theme: mat-dark-theme($dro-app-primary, $dro-app-accent);

@include angular-material-theme($dro-app-theme);
@include custom-components-theme($dro-app-theme);

@font-face {
    font-family: 'digit';
    src: url('./assets/DSEG7Modern-Italic.woff2');
}

html,body, app-root {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    user-select: none;
}
