/*
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
*/
@import "~@angular/material/prebuilt-themes/purple-green.css";

@font-face {
    font-family: 'digit';
    src: url('./assets/Segment7Standard.otf');
}

html,body {
    margin: 0;
    padding: 0;
    height: calc(100% - 10px);
    /*background-color: #1F1A38;
    color: #124559;
    color: #598392;
    color: #C6CAED;*/
    user-select: none;
    /*background-image: url('./assets/background_image.jpg');*/
    background-size: 100% 100%;
    font-family: sans-serif;
}

app {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: stretch;
}

.button {
    display: table-cell;
    position: relative;
    font-size: 4vh;
    width: 9vh;
    height: 9vh;
}

button {
    display: table-cell;
    position: relative;
    font-size: 4vh;
    width: 9vh;
    height: 9vh;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 9vh;
    height: 9vh;
}

.label {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 9vh;
    height: 9vh;
    line-height: 9vh;
}

.container {
    width: 100%;
    height: 100%;
    border-radius: 5vh;
}

.digit {
    color: #F46036;
}

.background {
    /*color: #272932;*/
    /*color: #413E42;*/
}

.selected {
    color: #F46036;
    border: 1px solid #F46036;
}
/*
.button .button_border {
    fill: none;
    stroke:#124559;
}

.button .button_path {
    fill: none;
    stroke:#C6CAED;
}

.button .button_text {
    fill: #C6CAED;
    stroke:#C6CAED;
    stroke-width: 0;
}

.button:active .button_border {
    fill: #F46036;
}
*/
a:visited { 
    color: #C6CAED;
}

.svg_path {
    stroke-width: 1;
    stroke: #C6CAED;
}

.svg_text {
    fill: #C6CAED;
}
