@mixin app-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-root {
        color: mat-color($foreground, text);
    }
    
    .button_border {
        fill: none;
        stroke: mat-color($primary);
    }
      
    .button_path {
        fill: none;
        stroke: mat-color($foreground, text);
    }

    .template {
        border-left: 2px solid mat-color($primary);
    }
}
