/*
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
*/
.container {
    display: grid;
    grid-template-columns: auto 66.5vh 66.5vh auto ;
    grid-template-rows: 100%;
    height: 100%;
}

app-axes {
    display: block;
    grid-column: 2 / span 1;
    height: 100%;
}

mat-sidenav-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}

mat-sidenav-content {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}

.template {
    display: block;
    grid-column: 3 / span 1;
    width: 100%;
    height: 100%;
}

nav {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 30vh;
    margin: 1vh;
    grid-gap: 1vh;
}

.mat-icon {
    height: 100%;
    width: 100%;
}

.mat-button {
    padding: 0;
    margin: 0;
    width: 10vh;
    height: 10vh;
    min-width: 0;
}

#toggleNav {
    position: fixed;
    left: 98%;
    top: 50%;
}
