<!--
    DRO WebApp

    Copyright (C) 2017 David Schmelter

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see
    <https://github.com/schmelly/DRO/tree/master/dro-webapp> or
    <http://www.gnu.org/licenses/>.
-->
<!--div [ngSwitch]="mode">
    <app-milling *ngSwitchCase="'milling'"></app-milling>
</div-->

<mat-sidenav-container>
    <mat-sidenav-content>
        <div class="container">
            <app-axes></app-axes>
            <div class="template"><router-outlet></router-outlet></div>
        </div>
        <button mat-button id="toggleNav" (click)="sidenav.toggle()"><mat-icon svgIcon="button_empty"></mat-icon></button>
    </mat-sidenav-content>
    <mat-sidenav #sidenav mode="over" opened="false" position="end">
        <nav *ngIf="(mode$ | async) === 'milling' else elseBlock" class="navbar navbar-default">
            <button mat-button (click)="loadConfiguration()"><mat-icon svgIcon="button_load"></mat-icon></button>
            <button mat-button (click)="saveConfiguration()"><mat-icon svgIcon="button_save"></mat-icon></button>
            <a mat-button [routerLink]="['/calculator']"><mat-icon svgIcon="button_calc"></mat-icon></a>
            <a mat-button [routerLink]="['/midpoint']"><mat-icon svgIcon="button_midpoint"></mat-icon></a>
            <a mat-button [routerLink]="['/pocket']"><mat-icon svgIcon="button_pocket"></mat-icon></a>
            <a mat-button [routerLink]="['/contour']"><mat-icon svgIcon="button_contour"></mat-icon></a>
            <a mat-button [routerLink]="['/holes']"><mat-icon svgIcon="button_holes"></mat-icon></a>
            <a mat-button [routerLink]="['/points']"><mat-icon svgIcon="button_points"></mat-icon></a>
            <a mat-button [routerLink]="['/configuration']"><mat-icon svgIcon="button_config"></mat-icon></a>
            <button mat-button (click)="fullscreenMode()" #fullscreen><mat-icon svgIcon="button_fullscreen"></mat-icon></button>
            <a mat-button [routerLink]="['/shutdown']"><mat-icon svgIcon="button_shutdown"></mat-icon></a>
        </nav>
    
        <ng-template #elseBlock>
        <nav class="navbar navbar-default">
            <button mat-button (click)="loadConfiguration()"><mat-icon svgIcon="button_load"></mat-icon></button>
            <button mat-button (click)="saveConfiguration()"><mat-icon svgIcon="button_save"></mat-icon></button>
            <a mat-button [routerLink]="['/calculator']"><mat-icon svgIcon="button_calc"></mat-icon></a>
            <a mat-button [routerLink]="['/midpoint']"><mat-icon svgIcon="button_midpoint"></mat-icon></a>
            <a mat-button [routerLink]="['/points']"><mat-icon svgIcon="button_points"></mat-icon></a>
            <a mat-button [routerLink]="['/configuration']"><mat-icon svgIcon="button_config"></mat-icon></a>
            <button mat-button (click)="fullscreenMode()" #fullscreen><mat-icon svgIcon="button_fullscreen"></mat-icon></button>
            <a mat-button [routerLink]="['/shutdown']"><mat-icon svgIcon="button_shutdown"></mat-icon></a>
        </nav>
        </ng-template>
    </mat-sidenav>
</mat-sidenav-container>
