.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
}

.x {
    grid-row: 1 / span 1;
}

.y {
    grid-row: 2 / span 1;
}

.z {
    grid-row: 3 / span 1;
}
